# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic cache (ok to ignore)
alembic/__pycache__/

# Editor
.vscode/
.idea/

# Secrets
*.pem
*.key
